/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bạn có thể giữ hoặc xóa các style mặc định của Vite/React nếu muốn */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f7f6; /* Nền nhẹ nhàng */
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}